html,
body {
  overflow-x: hidden !important;
}

.perspective {
  perspective: 1000px;
}
#orbit > div {
  transform-style: preserve-3d;
}

:root {
  --navbar-height: 0px;
}
body {
  padding-top: var(--navbar-height);
}
