html,
body {
  overflow-x: hidden !important;
}

.perspective {
  perspective: 1000px;
}
#orbit > div {
  transform-style: preserve-3d;
}

/* #skill .relative {
  perspective: 1000px;
}
#carousel3d > div {
  top: 50%;
  left: 50%;
  transform-origin: center center -200px;
} */
